 
body {
    color: #1c1d1d;
    background-color: #e2cdcd;
    font-size: 1rem;
    line-height: 1.5;
    text-align: left;
    margin: 1px;
  }

/* Page content */
.content {
  padding: 16px;
}

/*
p span {
  display: block;
  text-align: left;
} 
*/

  header {
    background-color: rgb(233, 172, 161);
    text-align: left;
    height:50px; 
    width:100%; 
  }
  
  /* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: #e2cdcd;
}

  .sticky {
    position: fixed;
    top:  0;
    width: 100%;
  }
/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: rgb(78, 61, 58);
  text-align: right;
  padding: 5px;
  text-decoration: none;
}
/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

h1{
  margin-left: 30px;
}

  *{
    box-sizing: border-box;
  }
  img {
    width: 100%;
    height: auto;
    margin: 
}

 section{
  display: flow-root;
  background-color: rgb(58, 55, 55);
   color: aliceblue;
   /*
   border: 1px solid rgb(63, 54, 54);
   border-radius: 0.25em; */
}

  .sport {
    display: inline-block;
   background-color: rgb(245, 69, 69);
    flex-direction: column;
    text-align: center;
    padding: 1.5em 1em;
    border: 1px solid rgb(63, 54, 54);
    border-radius: 0.25em;
  }

  

.main-div {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    padding: 2rem 10px;
}
  


.main {
  padding: 2rem 10px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

}

.spa{
  float:right;
  margin-right: 100px;

}
a{

  margin-left: 20px;
  font: 1.2em sans-serif;
  padding: 5px;
}
a:hover, a:focus {
  background: rgb(161, 125, 110);
}
p{
  padding: 25px;
}
.mkl{
  display: flex;
}
.footer {
  position: fixed;
  color:  rgb(78, 61, 58);
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: rgb(233, 172, 161);
  text-align: center;
}